<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <img src="../../../assets/images/simplecalc.png" alt="">
                    <div class="text"><a href="https://cugbo.github.io/simple_calculator/">Simple Calculator</a></div>
                    <p>A simple calculator using HTML, CSS & JS.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../../assets/images/leaderboard.jpg" alt="">
                    <div class="text"><a href="https://github.com/cugbo/HNG-Leaders-Board">LeaderBoard</a></div>
                    <p>A simple table that shows leaderboard and shows the first three with special character.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../../assets/images/download.jfif" alt="">
                    <div class="text"><a href="https://github.com/cugbo/HNG-Leaders-Board">PiggyVest Calculator</a></div>
                    <p>Calculator that computes the accured interest rate for an amount deposited in PiggyVest.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../../assets/images/chatbot.jfif" alt="">
                    <div class="text"><a href="https://github.com/cugbo/HNG_chatbot">ChatBot</a></div>
                    <p>A simple chatbot.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../../assets/images/zuripayment.png" alt="">
                    <div class="text"><a href="https://cugbo.github.io/myzuriform/">Zuri Payment Form</a></div>
                    <p>A simple payment form for an online payment</p>
                </div>
            </div>
        </div>
    </div>
</section>