<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="../../../assets/images/profile-1.png" alt="">
            </div>
            <div class="column right">
                <div class="text">I'm Chima and I'm a Software Engineer</div>
                <p>I am a graduate of Economics, University of Nigeria, Nsukka. I previously worked with Dream Court Facility Management Company and currently a Squad009 DecaDev with Decagon Institue where I am a Software Engineer in training, with specialty in .Net Framework using C# Programming Language. Prior to my programme in Decagon, I have interned with HNGi7 (Hotel.ng) and Zuri. I enjoy playing Video and Mobile Games, Surfing the internet, travelling, engaging in sporting activities, willing and able to learn new things.</p>
                <a href="#">Download CV</a>
            </div>
        </div>
    </div>
</section>