<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>I possess good communication skills, Critical thinking and problem solving skill, Time management, interpersonal relationship, data analysis and documentation skill, attention to details. Proficiency in the use of Python programming language, graphic design tools such as Photoshop, canva, great video editing skill with the use of Adobe Premier Pro</p>
                <a href="#about">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>88%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>57%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>53%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular</span>
                        <span>26%</span>
                    </div>
                    <div class="line ang"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>92%</span>
                    </div>
                    <div class="line python"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>C#</span>
                        <span>33%</span>
                    </div>
                    <div class="line c"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        <span>5%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>
    </div>
</section>