<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Software Engineering</div>
                    <p>Analyse user requirements, write and test code, design and write new software programs (e.g. business applications or computer games) and computer operating systems, develop existing programs by analysing and identifying areas for modification, create technical specifications</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">Designer</div>
                    <p>Help create visual concepts to communicate information, create everything from posters and billboards to packaging, logos and marketing materials, use elements such as shapes, colors, typography, images and more to convey ideas to an audience.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Data Analyst</div>
                    <p>Collects and stores data on sales numbers, market research, logistics, linguistics, or other behaviors, bring technical expertise to ensure the quality and accuracy of that data, then process, design, and present it in ways to help people, businesses, and organizations make better decisions</p>
                </div>
            </div>
        </div>
    </div>
</section>